@use "../../../styles/colors";
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lodaer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: colors.$load;
  z-index: 999;
}
.loader {
  border: 4px solid colors.$border;
  border-radius: 50%;
  border-top: 4px solid currentColor;
  animation: spin 1s linear infinite;
  display: inline-block;
  &.small {
    width: 30px;
    height: 30px;
  }

  &.medium {
    width: 50px;
    height: 50px;
  }

  &.large {
    width: 70px;
    height: 70px;
  }
}

// Media queries for responsiveness
@media (max-width: 768px) {
  // Tablet and below
  .loader {
    &.small {
      width: 20px;
      height: 20px;
    }

    &.medium {
      width: 40px;
      height: 40px;
    }

    &.large {
      width: 60px;
      height: 60px;
    }
  }
}

@media (max-width: 480px) {
  // Mobile
  .loader {
    &.small {
      width: 15px;
      height: 15px;
    }

    &.medium {
      width: 30px;
      height: 30px;
    }

    &.large {
      width: 50px;
      height: 50px;
    }
  }
}
