/**
 * SCSS Variables
 * 
 * A collection of color and style variables used throughout the application's stylesheets.
 * These variables provide a consistent color scheme and make it easier to maintain and update styles.
 * 
 * Variables:
 * - `$success`: Color for successful actions or positive messages.
 * - `$lsuccess`: A Darker shade of the success color.
 * - `$error`: Color for error messages or failed actions.
 * - `$lerror`: A Darker shade of the error color.
 * - `$info`: Color for informational messages.
 * - `$linfo`: A Darker shade of the info color.
 * - `$warning`: Color for warning messages or actions that need attention.
 * - `$black`: Standard black color.
 * - `$white`: Standard white color.
 * - `$bg`: Background color for certain UI elements.
 * - `$notification`: Color for notifications or alerts.
 * - `$cream`: A soft cream color, often used for backgrounds or subtle highlights.
 * - `$shadow`: Color for shadows, typically used for box-shadows or text-shadows.
 * - `$load`: Color for loading indicators or spinners.
 * - `$border`: Color for borders or dividers.
 * 
 * Usage:
 * Use these variables in your SCSS files to maintain a consistent color scheme.
 * 
 * Example:
 * ```scss
 *  @use "colors"
 * .success-message {
 *     background-color: colors.$success;
 *     color: colors.$white;
 * }
 * ```
 * 
 * @author Aous Mohammad
 * @email aous.mohammad97@gmail.com
 */

 $success: #4caf50;
 $lsuccess: #39803b;
 $error: #f44336;
 $lerror: #852620;
 $info: #2196f3;
 $linfo: #21547e;
 $warning: #ffc107;
 $black: #000;
 $white: #fff;
 $bg: #333;
 $notification: #f44336;
 $cream: #f7f7f7;
 $shadow: rgba(0, 0, 0, 0.1);
 $load: rgba(128, 128, 128, 0.541);
 $border: #e0e0e0;
 