/**
 * Grid and Button Styles
 * 
 * This stylesheet provides styles for a responsive grid layout and various button styles.
 * 
 * Features:
 * - Defines a responsive grid layout that adjusts the number of columns based on the viewport width.
 * - Provides styles for buttons with different states and themes.
 * 
 * Dependencies:
 * - `colors`: A module that contains color variables used in this stylesheet.
 * 
 * Usage:
 * Use the `.grid-container` class to create a responsive grid layout.
 * Use the `button` class for default button styles and combine with `.success`, `.danger`, or `.info` for themed buttons.
 * 
 * Example:
 * ```html
 * <div class="grid-container">
 *   <!-- Grid items here -->
 * </div>
 * <button class="success">Click Me</button>
 * ```
 * 
 * Breakpoints:
 * - Mobile: Up to 600px - Single column layout.
 * - Tablet: 601px to 1024px - Two columns layout.
 * - Desktop: 1025px and above - Four columns layout.
 * 
 * @author Aous Mohammad
 * @email aous.mohammad97@gmail.com
 */

@use "./colors";

.grid-container {
  display: grid;
  padding: 10px 20px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); // 200px is the minimum width of a card
  gap: 16px; // Adjust the gap between cards as needed
  padding-bottom: 10vh;
  @media (max-width: 600px) {
    // Mobile breakpoint
    grid-template-columns: 1fr;
  }

  @media (min-width: 601px) and (max-width: 1024px) {
    // Tablet breakpoint
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1025px) {
    // Desktop breakpoint
    grid-template-columns: repeat(4, 1fr);
  }
}

button {
  background-color: colors.$black;
  color: colors.$white;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: colors.$bg;
  }

  &.success {
    background-color: colors.$success;
    &:hover {
      background-color: colors.$lsuccess;
    }
  }

  &.danger {
    background-color: colors.$error;
    &:hover {
      background-color: colors.$lerror;
    }
  }

  &.info {
    background-color: colors.$info;
    &:hover {
      background-color: colors.$linfo;
    }
  }
}

.pagination {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colors.$error;
  button {
    margin: 0;
  }
}
