@use "../../../styles/colors";

.toaster {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px colors.$shadow;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  transform: translateY(100px);

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  &.success {
    background-color: colors.$success;
    color: colors.$white;
  }

  &.error {
    background-color: colors.$error;
    color: colors.$white;
  }

  &.info {
    background-color: colors.$info;
    color: colors.$white;
  }

  &.warning {
    background-color: colors.$warning;
    color: colors.$black;
  }
}

// Media queries for responsiveness
@media (max-width: 768px) {
  // Tablet and below
  .toaster {
    bottom: 15px;
    right: 15px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  // Mobile
  .toaster {
    bottom: 10px;
    right: 5px;
    padding: 6px 12px;
    width: calc(
      100% - 40px
    ); // Make it full width with a little margin on both sides
  }
}
