/**
 * Layout and Sidebar Styles
 * 
 * This stylesheet provides styles for the main layout and the sidebar of the application.
 * 
 * Features:
 * - Defines a flex-based layout structure with a header and content area.
 * - Provides styles for a fixed sidebar that can be toggled open or closed.
 * - Includes styles for the header, including cart icon with notifications.
 * 
 * Dependencies:
 * - `colors`: A module that contains color variables used in this stylesheet.
 * 
 * Usage:
 * Use the `.layout` class for the main layout structure.
 * Use the `header` for the top header of the application.
 * Use the `.sidebar` class for the sidebar and toggle its visibility using the `.open` class.
 * 
 * Example:
 * ```html
 * <div class="layout">
 *   <header>
 *     <h1>App Title</h1>
 *     <div class="cart-icon">
 *       <span>3</span>
 *     </div>
 *   </header>
 *   <div class="content">
 *     <!-- Main content here -->
 *   </div>
 *   <div class="sidebar">
 *     <!-- Sidebar content here -->
 *   </div>
 * </div>
 * ```
 * 
 * Responsiveness:
 * The layout is designed to be fluid and adapt to different screen sizes.
 * The sidebar is fixed and its visibility can be toggled.
 * The header and content area are flex-based and will adjust based on the content.
 * 
 * @author Aous Mohammad
 * @email aous.mohammad97@gmail.com
 */

@use "../../../styles/colors";

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  .content {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    transition: margin-right 0.3s;
  }
}

header {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  background-color: colors.$bg;
  color: colors.$white;
  box-shadow: 0 2px 4px colors.$shadow;
  justify-content: space-between;
  h1 {
    margin: 0;
    font-size: 24px;
  }

  .cart-icon {
    position: relative;
    cursor: pointer;

    span {
      position: absolute;
      top: -5px;
      right: -20px;
      background-color: colors.$notification;
      color: colors.$white;
      padding: 5px;
      border-radius: 50%;
      font-size: 12px;
      width: 10px;
      height: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: -420px;
  width: 400px;
  height: 100vh;
  background-color: colors.$cream;
  box-shadow: -2px 0 5px colors.$shadow;
  transition: right 0.3s;
  padding: 60px 10px 10px 10px;

  &.open {
    right: 0;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20%;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    span {
      font-weight: 500;
    }

    button {
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  > div:last-child {
    margin-bottom: 0;
  }

  > button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

// Media queries for responsiveness
@media (max-width: 768px) {
  // Tablet and below
  header {
    padding: 20px 25px;
    h1 {
      font-size: 20px;
    }
  }

  .sidebar {
    padding: 60px 0 10px 10px;
    width: 100%;
    right: -320px;
  }
}

@media (max-width: 480px) {
  // Mobile
  header {
    h1 {
      font-size: 18px;
    }
  }

  .sidebar {
    width: 100%;
    right: -120%;
  }
}
